@page "/"
@using WinDbgSymbolsCachingProxy.Models
@inject ISnackbar Snackbar

<PageTitle>Search</PageTitle>

<div class="search-grid-container">
    <MudDataGrid T="SymbolsEntity" @ref="_dataGrid" Dense="true"
                 Filterable="false"
                 ServerData="ServerReload" RowContextMenuClick="OpenMenuContent"
                 FixedHeader="true" Striped="true" Hover="true"
                 RowsPerPage="25">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Stored Symbols</MudText>
            <MudSpacer/>
            <MudTextField T="string" Value="_searchString" ValueChanged="OnSearch" Placeholder="Search (filters server-side)"
                          Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search"
                          IconSize="Size.Medium" Class="mt-0" Immediate="true"/>
            <MudIconButton Icon="@Icons.Material.Filled.Refresh" OnClick="OnRefreshClick" Title="Refresh data" Class="mt-0"/>
        </ToolBarContent>
        <ColGroup>
            <col style="width: 14%;"/>
            <col style="width: 16%;"/>
            <col style="width: 16%;"/>
            <col style="width: 14%;"/>
            <col style="width: 10%;"/>
            <col style="width: 10%;"/>
            <col style="width: 10%;"/>
            <col style="width: 5%;"/>
            <col style="width: 5%;"/>
        </ColGroup>
        <Columns>
            <PropertyColumn Property="x => x.FileName" Title="Filename" Sortable="true" InitialDirection="SortDirection.Ascending" CellStyle="overflow: hidden; text-overflow: ellipsis; max-width: 0;"/>
            <PropertyColumn Property="x => x.SymbolKey" Title="Symbol key" Sortable="true" CellStyle="overflow: hidden; text-overflow: ellipsis; max-width: 0;"/>
            <PropertyColumn Property="x => x.IndexPrefix" Title="Index prefix" Sortable="true" CellStyle="overflow: hidden; text-overflow: ellipsis; max-width: 0;"/>
            <PropertyColumn Property="x => x.UpstreamFileName" Title="Upstream filename" Sortable="true" CellStyle="overflow: hidden; text-overflow: ellipsis; max-width: 0;"/>
            <PropertyColumn Property="x => x.CreatedAt" Title="Creation timestamp" Sortable="true"/>
            <PropertyColumn Property="x => x.UploadedAt" Title="Upload timestamp" Sortable="true"/>
            <PropertyColumn Property="x => x.NotFoundAt" Title="Not found timestamp" Sortable="true"/>
            <PropertyColumn Property="x => x.IsCustom" Title="Is custom" Sortable="true">
                <CellTemplate>
                    @if (context.Item.IsCustom)
                    {
                        <MudChip Color="Color.Success" Size="Size.Small">Yes</MudChip>
                    }
                    else
                    {
                        <MudChip Color="Color.Dark" Size="Size.Small">No</MudChip>
                    }
                </CellTemplate>
            </PropertyColumn>
            <PropertyColumn Property="x => x.AccessedCount" Title="Download count" Sortable="true"/>
        </Columns>
        <PagerContent>
            <MudDataGridPager T="SymbolsEntity" showrowsperpage="true" rowsperpagestring="Rows per page:"/>
        </PagerContent>
    </MudDataGrid>
</div>
<MudMenu PositionAtCursor="true" @ref="_contextMenu" id="_contextMenu">
    <MudMenuItem Icon="@Icons.Material.Filled.Download" OnClick="OnDownloadClick" Disabled="@(_contextRow?.NotFoundAt != null)">
        Download
    </MudMenuItem>
    <MudMenuItem Icon="@Icons.Material.Filled.DeleteForever" OnClick="OnDeleteClick">
        Delete @_contextRow?.IndexPrefix
    </MudMenuItem>
    @*<MudMenuItem Icon="@Icons.Material.Filled.Info" OnClick="@ShowHiddenInfo">
        View Details for @_contextRow?.HwId
    </MudMenuItem>*@
</MudMenu>
